.root {
  display: flex;
  grid-area: 1 / 4 / 3 / 1;
}

.root > figure {
  background-color: var(--primary-color);
  padding: 23.5rem;
  padding-right: 30rem;
}

.root > figure > img {
  left: 5.3125rem;
  position: absolute;
  top: 13rem;
  width: 45rem;
}

.root > section {
  flex: 1 1 44.44%;;
  padding: 7rem 10.3125rem 9.375rem 7.8125rem;
}

.root > section > h3 {
  color: var(--text-color);
  margin-bottom: 2.5rem;
  font-family: serif;
  line-height: 3.5rem;
  text-align: center;
}

.root > section > h3 > span {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
}

.root > section > p {
  color: var(--grey-color-1);
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 11vh;
}
