.root {
  display: flex;
  grid-column: 1 / 3;
  flex-direction: column;
  height: 100vh;
}

.root > header {
  width: 100%;
  height: 6rem;
  padding: 0 10vw;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
}

.root .logo {
  height: 2.5rem;
  cursor: pointer;
  margin: auto 0;
}

.root .logo > img {
  height: 100%;
}

.body {
  align-items: flex-start;
  display: flex;
  padding: 1rem 6.5625rem 3rem 6.5625rem;
  width: 100%;
  flex: 1;
}

.body > figure {
  position: sticky;
  top: 1rem;
  flex-basis: 50%;
}

.body > figure > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body > figure > figcaption {
  background-color: rgba(66, 66, 66, 0.25);
  /* margin-top: 1.875rem; */
  margin-left: 1.375rem;
  max-width: 28.75rem;;
  padding: 0.75rem;
  /* position: absolute; */
}

.body > figure > figcaption > h4 {
  color: var(--white-color);
  margin-bottom: 0.5rem;
}

.body > figure > figcaption > p {
  color: var(--white-color);
  font-size: 0.875rem;
}

.body > div {
  background-color: var(--white-color);
  flex-basis: 50%;
  padding: 1.75rem 2rem 2.375rem;
}

.body > div > article {
  text-align: center;
}

.body > div > article > button {
  display: inline;
  margin-left: 0.375rem;
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.success {
  text-align: center;
  width: 43.4375rem;
}

.success > img {
  margin-bottom: 1rem;
  width: 8.875rem;
}

.success > h4 {
  white-space: pre-wrap;
}

.success > p {
  color: var(--black-color-3);
  font-size: 1rem;
  margin-top: 1rem;
  white-space: pre-wrap;
}

.success > p:nth-of-type(2) {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.success > footer > button {
  margin-bottom: .5rem;
}

.success > footer > small {
  color: var(--primary-color);
  transition: ease-in-out;
}

.success > footer > .error {
  color: var(--red-color);
}

.failed {
  text-align: center;
  width: 43.4375rem;
  margin: 1rem auto;
}

.failed > img {
  margin-bottom: 1.25rem;
  width: 7.5rem;
}

.failed > h5 {
  color: var(--black-color-3);
}

.failed > p {
  color: var(--black-color-3);
  font-size: .875rem;
  line-height: 1.125rem;
  margin-top: .875rem;
}