.root {
  background-color: var(--background-color-2);
  border-radius: 0.25rem;
  filter: var(--drop-shadow-l);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.popper-closed {
  display: none;
}