.root {
  --text-color: var(--primary-color);
  align-items: center;
  background-color: var(--black-color-6);
  border-radius: 0.25rem;
  color: var(--text-color);
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: 1.125rem;
  padding: 1rem;
  position: relative;
}

.root.not-empty {
  --text-color: var(--white-color);
  background-color: var(--primary-color);
}

.root.not-empty > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.root > div {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
  height: 100%;
  left: 0;
  padding: 1.5rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.root > figure {
  align-items: center;
  display: inline-flex;
  flex: 1;
  gap: 0.375rem;
  justify-content: flex-end;
}

.root > figure > figcaption {
  color: var(--text-color);
}

.root > figure > figcaption > span {
  color: var(--text-color);
  text-decoration: underline;
}

.root > input[type="file"],
.multiple input[type="file"] {
  display: none;
}

.root > p {
  color: var(--text-color);
  flex: 1.5;
}

.root > p > span {
  color: var(--text-color);
  font-size: 0.625rem;
}

.root > small,
.multiple > small {
  bottom: -1.125rem;
  color: var(--red-color);
  font-weight: normal;
  position: absolute;
}

.multiple {
  background-color: var(--black-color-5);
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  padding: 1.125rem 0.75rem;
  position: relative;
}

.multiple > figure {
  height: 3.5rem;
  padding: 0.25rem 0.25rem 0 0;
  position: relative;
  width: 3.5rem;
}

.multiple > figure > img:first-child {
  border-radius: 0.25rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.multiple > figure > img:last-child {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.75rem;
}

.multiple > label > img {
  cursor: pointer;
  width: 3.5rem;
}

.multiple > p {
  bottom: -1.125rem;
  font-size: 0.75rem;
  position: absolute;
}
