.root > button {
  margin-top: 2.5rem;
  width: 100%;
}

.error {
  margin-top: 0.5rem;
  color: var(--error-color);
}

.root > p {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.125rem 0 0.375rem;
}

.root > p > button {
  text-decoration: underline;
}

.button{
  background-color: transparent;
  color: black;
}