* {
  animation: fade-in 0.5s ease-in-out;
  box-sizing: border-box;
  color: var(--black-color-1);
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  line-height: 1.2;
  outline: none;
  margin: 0;
  padding: 0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes loading {
  to { transform: translateX(100%); }
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F7F7;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

img {
  font-size: x-small;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
}

small {
  font-size: 0.75rem;
}

.loading {
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
}

.loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0, 
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0));
  animation: loading 2s infinite;
  content: '';
}

#app.pagebase {
  display: grid;
  grid-template-areas: 'header header' 'aside main';
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  height: 100vh;
}

.modal {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.25s;
  width: 100vw;
  z-index: 50;
}

.modal-open {
  overflow: hidden;
}

.modal-open > div {
  pointer-events: none;
}

.modal-open > div > .modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

:root {
  --aside-width: 16rem;
  --header-height: 6.25rem;
  --primary-color: #74B816;
  --primary-color-dark: #5C940D;
  --primary-color-light: #94D82D;
  --secondary-color: #F08C00;
  --secondary-color-dark: #E67700;
  --secondary-color-light: #FCC419;
  --black-color-1: #424242;
  --black-color-2: #52575C;
  --black-color-3: #A0A4A8;
  --black-color-4: #CACCCF;
  --black-color-5: #E8E8E8;
  --black-color-6: #F5F5F5;
  --black-color-7: #F9F9F9;
  --grey-color-1: #52575C;
  --white-color: #FFFFFF;
  --red-color: #AF1254;
  --red-color-1: #E3211D;
  --red-color-2: #E65957;
  --light-blue-color: #5C94BC;
  --blue-color: #376281;
  --light-blue-color: #5C94BC;
  --box-shadow-s: 0px 2px 10px rgba(82, 87, 92, 0.05);
  --box-shadow-m: 0px 3px 12px rgba(82, 87, 92, 0.1);
  --box-shadow-l: 0px 5px 15px rgba(82, 87, 92, 0.13), 0px 0px 2px rgba(66, 66, 66, 0.1);
  --drop-shadow-s: drop-shadow(0px 2px 10px rgba(82, 87, 92, 0.05));
  --drop-shadow-m: drop-shadow(0px 3px 12px rgba(82, 87, 92, 0.1));
  --drop-shadow-l: drop-shadow(0px 5px 15px rgba(82, 87, 92, 0.13)) drop-shadow(0px 0px 2px rgba(66, 66, 66, 0.1));
  font-size: 16px;
}

::-webkit-scrollbar {
  background: var(--black-color-6);
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  background: var(--black-color-3);
  position: absolute;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0.3125rem 1.25rem rgba(74, 74, 74, 0.2);
  border-radius: 1.5rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

@media only screen and (max-width: 90em) {
  :root {
    font-size: calc(100vw * 16 / 1440);
  }
}
