<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Arsip</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
