.root {
  margin-bottom: 1.75rem;
  position: relative;
}

.root > label {
  color: var(--black-color-3);
  display: block;
  padding: 0.5rem 0.5rem 0.3125rem;
  width: fit-content;
  white-space: nowrap;
}

.root > textarea {
  border: 0.0625rem solid var(--black-color-4);
  border-radius: 0.25rem;
  box-shadow: none;
  color: var(--black-color-1);
  font-size: 1rem;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}

.root > textarea::placeholder {
  color: var(--black-color-5);
}

.root > textarea:focus {
  border-color: var(--primary-color);
}

.root > small {
  bottom: -1rem;
  color: var(--red-color);
  left: 0.5rem;
  position: absolute;
}

.root.error > textarea {
  border-color: var(--red-color);
}

.root.required > label > span {
  color: var(--red-color);
}
