.root {
  top: 10vh;
  z-index: 1;
}

.root > div {
  padding: 1rem;
  max-width: 50vw;
  background-color: #26282B;
  min-width: 40vw;
  display: flex;
}

.success  {
  border-left: 8px var(--green-color) solid;
}

.error {
  border-left: 8px red solid;
}

.process  {
  border-left: 8px #F76707 solid;
}

.root > div > button > img {
  display: block;
  width: 14.375rem;
  filter: invert();
}

.root > div > p {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.44rem;
  margin: auto 3px;
}

.root > div > p:nth-child(2) {
  font-weight: bold;
}

/* .root > div > p:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.541327);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 0;
} */

